{% extends "layouts/main.html" %}
{% block content %}
<div class="container">
	<div class="row justify-content-center">
		<div class="col-md-9 col-lg-12 col-xl-10">
			<div class="card shadow-lg o-hidden border-0 my-5">
				<div class="card-body p-0">
					<div class="row">
						
						<div class="col-lg-12">
							<div class="p-5">
								<div class="text-center">
									<h4 class="text-dark mb-4">Aplikasi Bacteri Countify </h4>
								</div>
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block jsfiles%}
<script type="text/javascript" src="assets/js/pages/login.js"></script>
{% endblock %}
